
.movie-container {
  height: fit-content;
  width: 90vw;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.308);
  box-shadow: 5px 5px 5px white;
}

.movie-header div {
  display: flex;
  flex-direction: column;
}

span {
  text-align: center;
}

.rate {
  font-size: 1.5em;
  color: gold;
}

.btn-back {
  background: wheat;
  color: black;
  font-size: 0.5em;
  align-self: flex-end;
  margin-bottom: 2px; 
}

iframe {
  position: absolute;
  bottom: 5vh;
  left: 42vw;
}

.movie-details {
  display: flex;
  background-color: rgba(0, 0, 0, 0.199);
  position: relative;
}

.desc {
  margin: 10px auto;
  width: 50%;
  color: whitesmoke;
  font-size: 1.2em;
  text-shadow: 2px 5px black;
}
