
a {
  text-decoration: none;
  color: rgba(245, 222, 179, 0);
  text-align: center;
  padding: 5px;
  background-size: cover;
  background-position: top;
  transition: all .5s;
}

a:hover {
  color: rgba(245, 222, 179, 1);
  box-shadow: inset 0px 50px 50px 0px black;
}
