.big-cursor * {
  cursor: url(cursor.svg), auto;
}


body.dark {
  background-color: black;
  color: white;
  /* cursor: url('cursor.svg'),auto; */

}

body.contrast * {
  /* filter: contrast(50%); */
  /* z-index: -1; */
  background-color: grey;
  color: white;
  z-index: 99;
}

.box {
  height: 150px;
  width: 150px;
}

.a {
  background-color: yellow;
}

.b {
  background-color: blue;
}

.c {
  background-color: chartreuse;
}

.d {
  background-color: red;
}

.accOutline:focus,
.accOutline:focus {
  outline: 5px dashed red;
  z-index: 99999;
}

/* body.s5-black * {
  background-color:#888!important;
  color:#fff!important
} */

/* body.s5 {
  filter:grayscale(100%)!important;
  -webkit-filter:grayscale(100%)!important
} */
/* 
/* .accOutline:focus {
  outline: 5px solid blue;
} */





.acc-s5-light {
  background-color:#fff!important;
  color:#000!important
}

/* .acc-s5 {
  filter:grayscale(100%)!important;
  -webkit-filter:grayscale(100%)!important
} */

.acc-s5.acc-s3-1 {
  filter:invert(100%) grayscale(100%)!important;
  -webkit-filter:invert(100%) grayscale(100%)!important;
  background:#000!important
}


/* .acc-s3 {
  color: yellow
} */
html.userway-s3-3{background-color:#fff}html.userway-s3-3.userway-s1 a:focus,html.userway-s3-3.userway-s1 button:focus,html.userway-s3-3.userway-s1 input:focus,html.userway-s3-3.userway-s1 select:focus,html.userway-s3-3.userway-s1 textarea:focus{outline-color:#c00!important}html.userway-s3-2{background-color:#000}html.userway-s3-2.userway-s1 a:focus,html.userway-s3-2.userway-s1 button:focus,html.userway-s3-2.userway-s1 input:focus,html.userway-s3-2.userway-s1 select:focus,html.userway-s3-2.userway-s1 textarea:focus{outline-color:#50d0a0!important}
html.acc-s3-3 {
  background-color:#fff;
}
html.acc-s3-3.acc-s1 a:focus,html.acc-s3-3.acc-s1 button:focus,html.acc-s3-3.acc-s1 input:focus,html.acc-s3-3.acc-s1 select:focus,html.acc-s3-3.acc-s1 textarea:focus {
  outline-color:#c00!important;
}
html.acc-s3-2 {
  background-color:#000;
}
html.acc-s3-2.acc-s1 a:focus,html.acc-s3-2.acc-s1 button:focus,html.acc-s3-2.acc-s1 input:focus,html.acc-s3-2.acc-s1 select:focus,html.acc-s3-2.acc-s1 textarea:focus {
  outline-color:#50d0a0!important
}

.s1-selected{outline:dashed 4px #c00!important}
.acc-s3-1 {
  background:#000!important
}

.acc-s3-1,.acc-s3-1-ff {
  filter:invert(100%);
  -webkit-filter:invert(100%)
}

.acc-s3-2,.acc-s3-2 a,.acc-s3-2 a:hover {
  background-color:#000!important
}

.acc-s3-2 a {
  border-color:#fff!important;
  color:#fcff3c!important
}

.acc-s3-2 abbr,.acc-s3-2 article,.acc-s3-2 aside,.acc-s3-2 b,.acc-s3-2 big,.acc-s3-2 body,.acc-s3-2 button,.acc-s3-2 div,.acc-s3-2 em,.acc-s3-2 footer,.acc-s3-2 form,.acc-s3-2 h1,.acc-s3-2 h2,.acc-s3-2 h3,.acc-s3-2 h4,.acc-s3-2 h5,.acc-s3-2 h6,.acc-s3-2 header,.acc-s3-2 i,.acc-s3-2 input,.acc-s3-2 label,.acc-s3-2 li,.acc-s3-2 main,.acc-s3-2 nav,.acc-s3-2 p,.acc-s3-2 select,.acc-s3-2 small,.acc-s3-2 span,.acc-s3-2 strong,.acc-s3-2 td,.acc-s3-2 textarea,.acc-s3-2 th,.acc-s3-2 ul {
  background-color:#000!important;
  border-color:#fff!important;
  color:#50d0a0!important
}

.acc-s3-2 a:hover {
  color:#fff!important;
}
.acc-s3-3 {
  background-color:#fff!important;
}
.acc-s3-3 a {
  border-color:#000!important;
}
.acc-s3-3 abbr,.acc-s3-3 article,.acc-s3-3 aside,.acc-s3-3 b,.acc-s3-3 big,.acc-s3-3 body,.acc-s3-3 button,.acc-s3-3 div,.acc-s3-3 em,.acc-s3-3 footer,.acc-s3-3 form,.acc-s3-3 h1,.acc-s3-3 h2,.acc-s3-3 h3,.acc-s3-3 h4,.acc-s3-3 h5,.acc-s3-3 h6,.acc-s3-3 header,.acc-s3-3 i,.acc-s3-3 input,.acc-s3-3 label,.acc-s3-3 li,.acc-s3-3 main,.acc-s3-3 nav,.acc-s3-3 p,.acc-s3-3 select,.acc-s3-3 small,.acc-s3-3 span,.acc-s3-3 strong,.acc-s3-3 td,.acc-s3-3 textarea,.acc-s3-3 th,.acc-s3-3 ul {
  background-color:#fff!important;
  color:#000!important;
  border-color:#000!important;
}
.acc-s3-3 a:hover,.acc-s3-3.acc-s6 a:hover {
  color:#000!important;
  background-color:#fff!important;
}
.acc-s3-3 a,.acc-s3-3.acc-s6 a,.acc-s3-3.acc-s6 a * {
  color:#0000d3!important;
  background-color:#fff!important;
}
.acc-s4-1 {
  zoom:130%;;
}
.acc-s4-2 {
  zoom:160%;
}
.acc-s4-3 {
  zoom:190%;
}.acc-s4-4 {
  zoom:205%; 
}
.acc-s4-1-ie,.acc-s4-1-ie .acc-s4-1-fixed-ie {
  zoom:130%;
  max-width:76.92%;
}
.acc-s4-2-ie,.acc-s4-2-ie .acc-s4-2-fixed-ie {
  zoom:160%;max-width:62.5%;
}
.acc-s4-3-ie,.acc-s4-3-ie .acc-s4-3-fixed-ie {
  zoom:190%;max-width:52.63%;
}
.acc-s4-4-ie,.acc-s4-4-ie .acc-s4-4-fixed-ie {
  zoom:205%;max-width:48.78%;
}
.acc-s5-black {
  background-color:#888!important;
  color:#fff!important;
}
.acc-s5-light {
  background-color:#fff!important;
  color:#000!important;
}
.acc-s5 {
  filter:grayscale(100%)!important;
  -webkit-filter:grayscale(100%)!important;
}
.acc-s5.acc-s3-1 {
  filter:invert(100%) grayscale(100%)!important;
  -webkit-filter:invert(100%) grayscale(100%)!important;
  background:#000!important;
}